@using Source.Models.ViewModels;
@model AddTagViewModel

<h2 class="create">Create Tag</h2>
<div class="form-container">
    <form action="AddTag" method="post">
        <label for="input-field">Name:</label>
        <input type="text" id="input-field" class="input-field" name="Name" placeholder="Enter name here...">
        <button type="submit" asp-action="Index" asp-controller="Admin" class="cancel-btn">Cancel</button>
        <button type="submit" class="submit-btn">Add</button>
    </form>
</div>