 @using Source.Models.ViewModels;
@model Product
@*

<link rel="stylesheet" href="~/css/style.css" />
<h2 class="create">Edit Product</h2>
<div class="form-container">
    <form action="EditProduct" method="post">
        <label for="input-field">Name:</label>
        <input type="text" id="input-field" class="input-field" name="Name" placeholder="Enter name here...">
        <label for="input-field">Category:</label>
        <select>
            @foreach (var item in (List<Category>)ViewData["Categories"])
            {
                <option class="option-product">
                    <h5 class="product-option">@item.Name</h5>
                </option>
            }
        </select>
        <label for="input-field" class="disp-block">Tags:</label>
        <div class="tags">
            @foreach (var item in (List<Tag>)ViewData["Tags"])
            {
                <div class="tag">
                    <label class="tag-label">@item.Name</label>
                    <input type="checkbox" name="TagIds" value="@item.Id">
                </div>
            }
        </div>

        <label for="input-field" class="disp-block">Description:</label>
        <textarea class="description-textarea">@Model.Description</textarea>
        <button type="submit" asp-action="Products" asp-controller="Admin" class="cancel-btn">Cancel</button>
        <button type="submit" class="submit-btn">Edit</button>
    </form>
</div> 
*@